{% extends 'CoreBundle:Backend:base.html.twig' %}

{% block title %}Students - {{ headline }}{% endblock %}

{% block content %}

<div class="container">
    
<h1>Students - {{ headline }}</h1>
<hr />

<br />

<div class="row">

<div class="col-md-5">

{{ form_start(userForm) }}
	
	{% if not userForm.vars.valid %}
	<div class="alert alert-danger">
		{{ form_errors(userForm) }}
	</div>
	{% endif %}
		
	<div class="form-group">
	
		{{ form_label(userForm.firstname) }}
		{{ form_errors(userForm.firstname) }}
		{{ form_widget(userForm.firstname, {'attr': {'class': 'form-control'}}) }}
	
	</div>
	
	<div class="form-group">
	
		{{ form_label(userForm.lastname) }}
		{{ form_errors(userForm.lastname) }}
		{{ form_widget(userForm.lastname, {'attr': {'class': 'form-control'}}) }}
	
	</div>
	
	<div class="form-group">
	
		{{ form_label(userForm.email) }}
		{{ form_errors(userForm.email) }}
		{{ form_widget(userForm.email, {'attr': {'class': 'form-control'}}) }}
	
	</div>

 <button type="submit" class="btn btn-primary">{{ userFormSubmitButtonText }}</button>

{{ form_end(userForm) }}
</div>

<div class="col-md-2">
</div>

<div class="col-md-5">

{{ form_start(userCSVForm, {'attr': {'role': 'form'}}) }}
	
	{% if not userCSVForm.vars.valid %}
	
		<div class="alert alert-danger">
			{{ form_errors(userCSVForm) }}
		</div>
	
	{% endif %}
	
		<div class="form-group">
		
			{{ form_label(userCSVForm.file) }}
			{{ form_errors(userCSVForm.file) }}
			{{ form_widget(userCSVForm.file) }}
		
		</div>
		
		<div class="form-group">
	
		{{ form_label(userCSVForm.separator) }}
		{{ form_errors(userCSVForm.separator) }}
		{{ form_widget(userCSVForm.separator, {'attr': {'class': 'form-control'}}) }}
	
		</div>

 <button type="submit" class="btn btn-primary">{{ userCSVFormSubmitButtonText }}</button>

{{ form_end(userCSVForm) }}

</div>

</div>

<br />
<hr />
<br />

<table class="table table-hover">

	<thead>
		
		<tr>
			<th>Name</th>
			<th>Firstname</th>
			<th>E-Mail</th>
			<th>Options</th>
		</tr>

	</thead>

	<tbody>
		
		{% if app.session.get('usersToAdd') %}
		{% for user in app.session.get('usersToAdd') %}	
		
		<tr>
			<td>{{ user.lastname }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.email }}</td>
			<td>
				<a href="#" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a href="#deleteUserModal" class="btn btn-default btn-sm" data-toggle="modal">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</td>
		</tr>

		{% endfor %}
		
		{% else %}
		
		<tr>
			<td colspan="4" style="text-align: center;">
				<i>No users have been added yet.</i>
			</td>
		</tr>
		
		{% endif %}

	</tbody>
	
</table>

{{ form_start(userPersistForm, {'attr': {'role': 'form'}}) }}

 <button type="submit" class="btn btn-primary" {% if app.session.get('usersToAdd') is null %}disabled{% endif %}>{{ userPersistFormSubmitButtonText }}</button>

{{ form_end(userPersistForm) }}

</div>

</div>
	
{% endblock %}